@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: "Lato";
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.is-raleway {
  font-family: "raleway";
}

.main {
  padding-top: 70px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.header-inner {
  padding: 15px 0;
}

.fa-bolt {
  color: #333333;
  font-size: 40px;
  text-decoration: none;
}

.contact {
  float: right;
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 12px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.berger {
  display: none;
}

.contact:hover {
  color: #333333;
}

.title {
  text-align: center;
  background-color: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
}

.headline {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.subtitle {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.can {
  background-color: #74cfae;
  width: 100%
}

.can-inner {
  display: flex;
  padding-top: 50px;
  padding-bottom: 25px;
}


.can-contents {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  color: #f2f2f2;
  width: 600px;
}

.WHAT {
  font-size: 24px;
}

.cando {
  font-size: 20px;
  margin-top: 35px;
}

.made {
  width: 100%;
  background-color: #f2f2f2;
}

.made-inner {
  padding: 60px 0 70px;
}

.OUR-W {
  font-size: 24px;
  color: #4e4e4e;
  text-align: center;
}

.pictures {
  margin-top: 40px;
  margin-bottom: 90px;
  font-size: 0;
}

.piclist {
  float: left;
  margin-left: 100px;
  margin-top: 80px;
  opacity: 0.7;
  transition: all 0.3s ease-out;
}

.piclist:hover {
  opacity: 1;
}

.piclist:nth-child(3n+1) {
  margin-left: 0;
}

.piclist:nth-child(-n+3) {
  margin-top: 0;
}

.pic{
  display: inline-block;
}

.message {
  display: flex;
  width: 1000px;
  align-items: flex-start;
}

.lastwork {
  font-size: 20px;
  text-align: center;
  float: left;
  padding: 0 90px;
  width: 600px;
}

.email {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  width: 80px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease-out;
}

.email:hover {
  color: #333333;
}

.skills {
  width: 100%;
  background-color: #4e4e4e;
}

.skills-inner {
  padding: 70px 0 80px;
}

.OUR-S {
  text-align: center;
  font-size: 24px;
  color: #f2f2f2;
}

.figures {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.imagelist {
  margin-left: 180px;
}

.imagelist:first-child {
  margin-left: 0;
}

.fontsize {
  margin-top: 20px;
  text-align: center;
  color: #f2f2f2;
}

.sns {
  width: 100%;
  background-color: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
  text-align: center;
  font-size: 0;
}

.list {
  width: 185px;
}

.icon {
  width: 100%;
  color: #74cfae;
  font-size: 50px;
  padding: 30px 0;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.list {
  display: inline-block;
}

.icon:hover {
  background-color: #fff;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
  text-align: right;
  color: #f2f2f2;
}


@media screen and (max-width:1200px) {

  .inner {
    width: 97%;
  }

  .can-inner {
    flex-direction: column;
  }

  .sp {
    margin: 0 auto;
  }

  .WHAT {
    margin-top: 20px;
  }

  .message {
    width: 100%;
    flex-direction: column;
  }

  .email {
    margin: 0 auto;
  }

  .lastwork {
    width: auto;
  }

  .piclist {
    float: none;
    text-align: center;
    margin: 0;
  }

  .piclist:nth-child(3n+1) {
    margin-top: 80px;
  }

  .piclist:first-child {
    margin-top: 0;
  }


  .imagelist {
    margin-left: 0;
  }

  .imagelist:first-child {
    margin-top: 0;
  }

  .figures {
    flex-direction: column;
    align-items: center;
  }


}


@media screen and (min-width:768px) and (max-width:1199px){

  .berger {
    display: none;
  }

  .lastwork {
    padding: 0 0;
  }

  .email {
    margin-top: 40px;
  }

  .imagelist {
    margin-top: 88px;
  }

  .list {
    width: 25%;
  }

}

@media screen and (max-width:767px){
  
  .contact {
    display: none;
  }

  .berger {
    float: right;
    position: relative;
    height: 30px;
    width: 40px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }

  .border {
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #ddd;
    display: inline-block;
    box-sizing: border-box;
  }

  .border:nth-of-type(1) {
    top: 6px;
  }

  .border:nth-of-type(2) {
    top:13px;
  }

  .border:nth-of-type(3) {
    bottom: 6px;
  }

  .title-inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .can-contents {
    width: 100%;
  }

  .lastwork {
    padding: 0;
    margin-bottom: 60px;
  }

  .imagelist {
    margin-top: 100px;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .list {
    display: list-item;
    width: 100%;
  }  
}
