@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.header-inner {
  padding: 15px 0;
}

.contact {
  float: right;
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 12px;
}

.title {
  text-align: center;
  background-color: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
}

.headline {
  font-size: 90px;
  font-weight: 700px;
  color: #74cfae;
}

.subtitle {
  font-size: 30px;
  color: #c0c0c0;
}

.can {
  background-color: #74cfae;
  width: 100%
}

.can-inner {
  display: table;
  padding-top: 50px;
}

.phone {
  display: inline-block;
  vertical-align: middle;
  display: table-cell;
}

.can-contents {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  color: #f2f2f2;
}

.WHAT {
  font-size: 24px;
  padding: 35px 0
}

.cando {
  font-size: 20px;
}

.made {
  width: 100%;
  background-color: #f2f2f2;
}

.made-inner {
  padding: 60px 0 70px;
}

.OUR {
  font-size: 24px;
  color: #4e4e4e;
  text-align: center;
}

.pictures {
  margin-bottom: 90px;
  margin-top: 40px;
  font-size: 0;
}

.pic {
  float: left;
  margin-left: 100px;
  margin-bottom: 80px;
}

.pic:nth-child(3n+1) {
  margin-left: 0;
}

.lastwork {
  font-size: 20px;
  text-align: center;
  float: left;
  padding: 0 90px;
}

.email {
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  background-color: #74cfae;
}

.skills {
  width: 100%;
  background-color: #4e4e4e;
}

.skills-inner {
  padding: 70px 0 80px;
}

.figures {
  margin-top: 70px;
  margin-bottom: 100px;
}

.imges {
  float: left;
  margin-left: 180px;
}

.imges:first-child {
  margin-left: 0;
}

.sns {
  width: 100%;
  background-color: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
}

